* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    height: 100vh;
    background-color: #fff;

}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}


li a {
    display: inline-block;
    position: relative;

}

li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 0;
    background: rgb(68, 178, 215);
    transition: width 0.3s ease-in-out;
}

li a:hover {
    color: rgb(68, 178, 215);
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

li a:hover::after {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 0 10rem;
    box-shadow: 0 1px 5px rgba(146, 161, 176, 0.15);
    background: rgba(255, 255, 255, 0.95);
    z-index: 999;
    display: flex;
    align-items: center;
}

body {
    padding-top: 60px;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #000;

}

.navbar .links {
    display: flex;
    gap: 2rem;
}


.navbar .toggle_btn {
    color: #000;
    cursor: pointer;
    display: none;

}


.dropdown_menu {
    display: none;
    position: absolute;
    right: 4rem;
    top: 60px;
    height: 0;
    width: 50%;
    background: rgb(68, 178, 215);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
}


.dropdown_menu a:hover {
    color: #fff;

}


.dropdown_menu.open {
    height: 100dvh;
    transition: all 0.3s ease-in-out;
}



.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: flex-start;

}

.dropdown_menu li {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 1rem;
    padding-top: 0.5rem;

}

.hero h1 {
    color: #000;
    display: block;
    padding: 0 10rem;
    padding-top: 8rem;
    font-size: 2.5rem;
    row-gap: 8rem;
    width: 100%;

}

.hero .name {
    color: rgb(68, 178, 215);
}

.contact_btn {
    margin-left: 10rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    width: fit-content;
    background-color: rgb(68, 178, 215);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}
.mainContent{
    height: 100vh;
    width: 100dvh;
  
}

.contact_btn:hover {
    background-color: orange;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.social-icons{
    display: inline-flex;
    align-items: center;
    margin-left: 10rem;
    padding-top: 3rem;
    color: black;
    gap: 4rem;

}

.icon1:hover,
.icon2:hover,
.icon3:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
}



.section-title a li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 20px;
    position: relative;
}


.section-title a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 0;
    background: rgb(68, 178, 215);
    transition: width 0.3s ease-in-out;
}


.section-title a:hover::after {
    color: rgb(68, 178, 215);
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.about_img img {
    display: flex;
    margin-top: 3rem;
    margin-left: 6.5rem;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid rgb(68, 178, 215);

}

.about_me {
    display: flex;
    justify-content: center;
    margin-top: -10rem;
    font-size: 1.2rem;
    padding: 0 30rem;
    text-align: flex-start;
}

@media(max-width:992px) {

    .social-icons a{
        color: #000;
    }
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        color: #fff;
        
    }
    
    a{
        color: #fff;
    }

    .hero h1 {
        font-size: 2rem;
        padding-left: 2.5rem;

    }

    header {
        padding: 0 2.5rem;
    }

    .contact_btn {
        margin-left: 2.5rem;
    }

    .social-icons,
    .social-icons2,
    .social-icons3 {
        margin-left: 2.5rem;
        display: block;
    }

}





.about_img {
    width: 150px;
    height: 200px;
    margin-left: 2.5rem;
}

@media(max-width:576px) {
    .dropdown_menu {
        right: 0;
        width: 50%;
        color: white;
        /* max-width: 100%; */

    }



    .hero h1 {
        font-size: 1.5rem;
    }
}



@media(max-width:450px) {
    .toggle_btn{
        margin-right: 0.5rem;
    }

    .hero h1 {
        font-size: 1.2rem;
        padding-left: 2.5rem;
        padding-top: 5rem;
    }

    .about_img img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 160px;
        margin-top: 0;



    }

    .about_me {
        font-size: 1rem;
        margin-left: 3rem;
        display: inline-block;
        padding: 0 1rem;
        text-align: center;
        margin-top: 1px;
        text-align: flex-start;
    }

    .hero h1 {
        padding: 70px;
        padding-left: 2.5rem;
        font-size: 30px;
        margin-top: 5rem;


    }

    li a {
        color: #fff;
    }





}