* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    height: 100vh;
    background-color: #fff;
    /* background-color: blue;
    width: fit-content;
    height: 2px; padding-bottom: 2px; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

li:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 10rem;
    box-shadow: 0 1px 5px rgba(146, 161, 176, 0.15);
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #000;

}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #000;
    cursor: pointer;
    display: none;

}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 50%;
    background: rgb(68, 178, 215);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;

}

.dropdown_menu.open {
    height: 100vh;
    overflow: hidden;
}



.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: flex-start;

}

.dropdown_menu li {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 1rem;
    padding-top: 0.5rem;

}

.hero h1 {
    color: #000;
    display: block;
    padding: 0 10rem;
    padding-top: 8rem;
    font-size: 2.5rem;
    row-gap: 5rem;

}

.hero .name {
    color: rgb(68, 178, 215);
}

.contact_btn {
    margin-left: 10rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    width: fit-content;
    background-color: rgb(68, 178, 215);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

.contact_btn:hover {
    background-color: orange;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.social-icons,
.social-icons2,
.social-icons3 {
    display: inline-flex;
    gap: 2rem;
    align-items: center;
    margin-left: 2rem;
    padding-top: 1rem;
    padding-left: 0;
}

.social-icons:hover,
.social-icons2:hover,
.social-icons3:hover {
    cursor: pointer;
    color: orange;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
}

.social-icons .social-icons2 .social-icons3:hover {
    cursor: pointer;
    color: orange;
    scale: 1.05;

}

@media(max-width:992px) {

    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .hero h1 {
        font-size: 2rem;
        padding-left: 2.5rem;

    }

    header {
        padding: 0 2.5rem;
    }

    .contact_btn {
        margin-left: 2.5rem;
    }

    .social-icons,
    .social-icons2,
    .social-icons3 {
        margin-left: 2.5rem;
    }

}

@media(max-width:576px) {
    .dropdown_menu {
        right: 2rem;
        width: 50%;

    }



    .hero h1 {
        font-size: 1.5rem;
    }
}

@media(max-width:450px) {


    .hero h1 {
        font-size: 1.2rem;
        padding-left: 2.5rem;
        padding-top: 5rem;
    }


}